<h2 id="title_about_aksts">О конференции</h2>
<div class="row frontpage">
  <div class="col-md-12">
    <p>Ежегодные международные научно-практические конференции и семинары АНТОК собирают ученых, инженеров и специалистов со всех регионов России, Узбекистана и Республики Корея.</p>
    <p>На конференциях АНТОК работа ведется как по естественно-техническим научным направлениям, таким как Математика, Физика, Информационные технологии, Механика, Материаловедение, Медицина и Биотехнологии, Энергетика, Архитектура и Строительство, так и по гуманитарным направлениям: Психология, Педагогика, Экономика, Маркетинг, Дизайн.</p>
    <p>Наиболее многочисленны молодежные секции, в которых принимают участие студенты старших курсов, магистранты и аспиранты. Молодежь составляет около трети от общего количества участников конференции и их число с каждым годом неизменно растет. Конференции АНТОК – хорошая возможность для молодых исследователей в дружелюбной атмосфере потренироваться в публичных выступлениях, представить результаты своих работ и пополнить список научных публикаций.</p>
  </div>
</div>
<h3>История конференций «Россия—Корея—СНГ»</h3>
<div class="row frontpage">
  <div class="col-md-6">
    <h3>2017</h3>
    <h4>XVII Международная конференция по науке и технологиям</h4>
    <div>Южно-Сахалинск</div>
  </div>
  <div class="col-md-6">
    <%= image_tag "history/conf2017.jpg", class: "img-responsive" %>
  </div> 
</div>
<div class="row history-block">
  <div class="col-md-6">
    <h3>2016</h3>
    <h4>II Молодежная научная конференция, <br>посвященная 25-летию Научно-технического общества АНТОК</h4>
    <div>Москва</div>
  </div>
  <div class="col-md-6">
    <%= image_tag "history/conf2016.jpg", class: "img-responsive" %>
  </div> 
</div>
<div class="row history-block">
  <div class="col-md-6">
    <h3>2015</h3>
    <h4>XVI Конференция по науке и технологиям «СНГ-Корея»</h4>
    <div>Покровское, Московская область</div>
  </div>
  <div class="col-md-6">
    <%= image_tag "history/conf2015.jpg", class: "img-responsive" %>
  </div> 
</div>
<div class="row history-block">
  <div class="col-md-6">
    <h3>2014</h3>
    <h4>XV Российско-Корейская научно-практическая конференция</h4>
    <div>Екатеринбург</div>
  </div>
  <div class="col-md-6">
    <%= image_tag "history/conf2014.jpg", class: "img-responsive" %>
  </div> 
</div>
<div class="row history-block">
  <div class="col-md-6">
    <h3>2013</h3>
    <h4>XIV Российско-Корейская научно-практическая конференция</h4>
    <div>Новосибирск</div>
  </div>
  <div class="col-md-6">
    <%= image_tag "history/conf2013.jpg", class: "img-responsive" %>
  </div> 
</div>
<div class="row history-block2">
  <div class="col-md-12">
    <h3>2012</h3>
    <h4>XIV Российско-Корейский научно-практический семинар</h4>
    <div class="where">Санкт-Петербург</div>
  </div>
</div>
<div class="row history-block2">
  <div class="col-md-12">
    <h3>2011</h3>
    <h4>XIII Корейско-Российская научно-практическая конференция</h4>
    <div class="where">Звенигород—Москва</div>
  </div>
</div>
<div class="row history-block2">
  <div class="col-md-12">
    <h3>2010</h3>
    <h4>XII Корейско-Российская научно-практическая конференция</h4>
    <div class="where">озеро Байкал—поселок Листвянка</div>
  </div>
</div>
<div class="row history-block2">
  <div class="col-md-12">
    <h3>2009</h3>
    <h4>XI Российско-Корейская научно-практическая конференция</h4>
    <div class="where">Владивосток</div>
  </div>
</div>
<div class="row history-block2">
  <div class="col-md-12">
    <h3>2008</h3>
    <h4>XI Российско-Корейская конференция по биотехнологиям</h4>
    <div class="where">Пущино—Москва</div>
  </div>
</div>
<div class="row history-block2">
  <div class="col-md-12">
    <h3>2007</h3>
    <h4>I Российско-Корейский молодежный семинар по науки и технологиям</h4>
    <div class="where">Новосибирск</div>
  </div>
</div>
<div class="row history-block2">
  <div class="col-md-12">
    <div>
      <h3>2006</h3>
        <h4>IX Российско-Корейская научно-практическая конференция</h4>
      <div>Москва</div>
    </div>
  </div>
</div>
<div class="row history-block2">
  <div class="col-md-12">
    <div>
      <h3>2003</h3>
        <h4>VIII Российско-Корейская научно-практическая конференция</h4>
      <div>Москва</div>
    </div>
  </div>
</div>
<div class="row history-block2">
  <div class="col-md-12">
    <div>
      <h3>2001</h3>
        <h4>VII Российско-Корейская научно-практическая конференция</h4>
      <div>Москва</div>
    </div>
  </div>
</div>
<div class="row history-block2">
  <div class="col-md-12">
    <div>
      <h3>2000</h3>
        <h4>VI Российско-Корейская научно-практическая конференция</h4>
      <div>Москва</div>
    </div>
  </div>
</div>
<div class="row history-block2">
  <div class="col-md-12">
    <div>
      <h3>1998</h3>
        <h4>V Российско-Корейская научно-практическая конференция</h4>
      <div>Москва</div>
    </div>
  </div>
</div>
<div class="row history-block2">
  <div class="col-md-12">
    <div>
      <h3>1997</h3>
        <h4>IV Российско-Корейская научно-практическая конференция</h4>
      <div>Москва</div>
    </div>
  </div>
</div>
<div class="row history-block2">
  <div class="col-md-12">
    <div>
      <h3>1996</h3>
        <h4>III Российско-Корейская научно-практическая конференция</h4>
      <div>Москва</div>
    </div>
  </div>
</div>
<div class="row history-block2">
  <div class="col-md-12">
    <div>
      <h3>1995</h3>
        <h4>II Российско-Корейская научно-практическая конференция</h4>
      <div>Москва</div>
    </div>
  </div>
</div>
<div class="row history-block2">
  <div class="col-md-12">
    <div>
      <h3>1994</h3>
        <h4>I Российско-Корейская научно-практическая конференция</h4>
      <div>Москва</div>
    </div>
  </div>
</div>
