<h2><%= t :sign_up_registration %></h2>
<div class="alert alert-info">
  <%= t :sign_up_info %>
</div>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors resource %>
  <%= f.input :name, :autofocus => true, :required => true %>
  <% if params[:locale]=='en' %>
    <%= f.input :is_foreign, :as => :boolean %>
  <% end %>
  <% if params[:locale]!='en' %>
    <%= f.input :is_antok_member, :as => :boolean %>   
    <div id="antok_id_block">
      <%= f.input :antok_id%>
      <div class="alert alert-info">
        <p>Тут можно узнать свой АНТОК ID - <a href="/antok_id" target="_blank">страница поиска АНТОК ID</a></p>
      </div>
    </div>
  <% end %>
  <%= f.input :email, :required => true %>
  <%= f.input :password, :required => true %>
  <%= f.input :password_confirmation, :required => true %>
  <%= f.button :submit, t(:sign_up), :class => 'btn-primary' %>
<% end %>
<%= render "devise/shared/links" %>
