<h1 id="new_applic">Редактирвать Антоковца</h1>
<div id="form_anchor" class="row">
  <div class="col-md-6 applic-form">
    <%= simple_form_for(@member) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.input :antok_id, :input_html => { :class => 'form-control' } %>
      <%= f.input :fio, :input_html => { :class => 'form-control' } %>
      <%= f.input :birth_date, as: :date, default: Date.parse('1900-01-01'), start_year: 1930, end_year: Date.today.year - 16, :input_html => { :class => 'form-control' } %>
      <%= f.submit t(:save), class: "btn btn-lg btn-primary", id: "Save" %>
      <%= link_to t(:cancel), antok_members_path, class: "btn btn-lg btn-default" %>
    <% end %>
  </div>
</div>