<h1 id="h1_all_applics">Члены АНТОК</h1>
<table class="table table-striped">
  <tr>
    <th>N</th>
    <th>АНТОК ID</th>
    <th>ФИО</th>
    <th>Дата рождения</th>
    <th>Год рождения</th>
  </tr>
  <% var = 0 %>
  <% @members.each do |member| %>
    <% var+=1 %>
    <tr>
      <td><%= var %></td>
      <td><%= link_to member.antok_id, member %></td>
      <td><%= member.fio %></td>
      <td><%= member.birth_date ? member.birth_date.to_date : '' %></td>
      <td><%= member.birth_year %></td>
    </tr>
  <% end %>
</table>
