      <!-- Jumbotron -->
      <div class="jumbotron">
        <% if user_signed_in? %>
          <% if current_user.has_role? :admin %>
            <%= link_to "Смотреть все заявки", applics_path, class: "btn btn-large btn-success"%>
          <% else %>
            <% if current_user.applic %>
              <%= link_to t(:step2_view_btn), current_user.applic, class: "btn btn-large btn-success"%>
            <% else %>
              <%= link_to t(:step2_apply_btn), new_applic_path, class: "btn btn-large btn-success"%>
            <% end %>
          <% end %>
          <%= link_to t(:step2_my_account_btn), edit_user_registration_path, class: "btn btn-large"%>
        <% end %>
        <h1><%= t(:home_welcome) %></h1>
        <p class="lead"><%= t(:home_lead) %></p>
            <div class="my1">
            <div id="myCarousel" class="carousel slide">
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                  <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                </ol>
                <div class="carousel-inner">
                  <div class="item active">
                    <%= image_tag("slide-image-1.jpg", alt: "") %>
                    <div class="carousel-caption">
                      <p>Конференция АНТОК-2011, Звенигород</p>
                    </div>
                  </div>
                  <div class="item">
                    <%= image_tag("slide-image-2.jpg", alt: "") %>
                    <div class="carousel-caption">
                      <p>Этническая корейская научная конференция, Сеул, 2012</p>
                    </div>
                  </div>
                  <div class="item">
                    <%= image_tag("slide-image-3.jpg", alt: "") %>
                    <div class="carousel-caption">
                      <p>Конференция АНТОК-2013, Новосибирск</p>
                    </div>
                  </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
              </div>
            </div>
        <p><%= link_to "Скачать программу конференции (рус.)", '/docs/Program_rus(1804).doc' %></p>
        <p><%= link_to "Download conference program (eng.)", '/docs/Program_eng(1804).doc' %></p>
        <p><%= link_to "Скачать 1-е информационное письмо (на русском)", '/docs/Inform1_AKSTSconf2014_rus.pdf' %></p>
        <p><%= link_to "Download 1-st informational letter (in english)", '/docs/Inform1-AKSTSconf2014_eng.pdf'%></p>
        <br/>    
        <% if !user_signed_in? %>
        <%= link_to t(:sign_up), new_user_registration_path, class: "btn btn-large btn-success"%>
        <% end %>
      </div>

      <!-- Example row of columns  
      <hr>

         
      <div class="row-fluid">
        <div class="span4">
          <h3>Глобальное потепление</h3>
          <p>Доклад профессора Иванова из МГУ по вопросам глобального потепления. Станет ли Сибирь Африкой?</p>
          <p><a class="btn" href="#">Подробности &raquo;</a></p>
        </div>
        <div class="span4">
          <h3>Куда падают метеориты</h3>
          <p>Доклад профессора Петрова из Забайкальского госуниверситета. Как получить сувенир в виде метеорита? Астрономические расчеты.</p>
          <p><a class="btn" href="#">Подробности &raquo;</a></p>
       </div>
        <div class="span4">
          <h3>Куда уезжают люди</h3>
          <p>Доклад доцента кафедры Новосибирского госуниверситета. О миграционных циклах на планете</p>
          <p><a class="btn" href="#">Подробности &raquo;</a></p>
        </div>
      </div> --> 
       <div class="row">
        <div class="span12">

        </div>
      </div> 

