<h1 class="home_conf_title"><%= t :home_conf_antok %></h1>
<h2 class="home_conf_subtitle"><%= t :home_conf_moto %></h2>
<div class="home_img">
  <%= image_tag "home_img_2020.jpg", class: "img-responsive" %>
</div>
<div class="frontpage">
  <div class="invite_wrapper">
    <h3>Уважаемые коллеги и друзья!</h3>
    <div style="margin-top: 30px;">
      <p><b>Организаторы конференции</b> – Научно-техническое общество «АНТОК» (Россия), Korean Federation of Science and Technology Societies (Республика Корея),</p>
      <p><b>Соорганизаторы конференции</b> – Общероссийское объединение корейцев, Научно-технические общества «ТИНБО» (Узбекистан) и «КАХАК» (Казахстан), Корейско-Российский центр сотрудничества по науке и технологиям KORUSTEC, Молодежное движение корейцев Москвы</p>
      <p>приглашают Вас принять участие в <b>XХI МЕЖДУНАРОДНОЙ КОНФЕРЕНЦИИ ПО НАУКЕ И ТЕХНОЛОГИЯМ РОССИЯ-КОРЕЯ-СНГ</b>, которая будет проходить в Москве <span style="font-weight: bold;">с 26 по 28 августа 2021 г.</span> под девизом «Thirty years of Networking in Science!».</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="invite_wrapper2">
      <% if user_signed_in? %>                   
        <% if current_user.has_role? :admin %>
          <h3>МЕНЮ АДМИНА</h3>
          <p><%= link_to "Заявки", applics_path, class: "btn btn-lg btn-primary"%></p>
          <p><%= link_to "Пользователи", users_path, class: "btn btn-lg btn-primary"%></p>
          <p><%= link_to "Члены АНТОК", antok_members_path, class: "btn btn-lg btn-primary"%></p>
        <% else %>
          <p><%= link_to t(:step1_view_btn), edit_user_registration_path, class: "btn btn-default btn-lg"%></p>
          <% if current_user.applic %>
            <p><%= link_to t(:step2_view_btn), current_user.applic, class: "btn btn-default btn-lg"%></p>
            <% if current_user.applic.applic_file %>
              <p><%= link_to t(:step3_view_btn), applic_applic_file_path(current_user.applic, current_user.applic.applic_file), class: "btn btn-default btn-lg"%></p>
            <% else %>
              <p><%= link_to t(:step3_apply_btn), new_applic_applic_file_path(current_user.applic), class: "btn btn-primary btn-lg"%></p>
              <p><%= t(:step3_apply_btn_long)%></p>
            <% end %>
          <% else %>
            <p><%= link_to t(:step2_apply_btn), (new_applic_path + '#new_applic'), class: "btn btn-lg btn-primary"%></p>
            <p><%= link_to t(:step3_apply_btn), '#', class: "btn btn-default btn-lg disabled"%></p>
          <% end %>
        <% end %>
      <% else %>
        <div class="invite_to_conf">
          <!-- <h4><%= t :home_conf_description %></h4> -->
          <div class="buttons">
            <br/>
            <p><%= link_to t(:sign_up), (new_user_registration_path + '#new_registration'), class: "btn btn-primary btn-lg" %></p>
            <p><%= t(:or) %></p>
            <p><%= link_to t(:home_link_log_in), new_user_session_path, class: "btn btn-default btn-lg"%></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="invite_wrapper_dates">
      <h3>НОВОСТИ</h3>
      <div class="news_record">
        <h4>Информационное письмо №1</h4>
        <p><i>24 мая 2021</i></p>
        <p>Сообщаем, что открыта регистрация на XХI Международную конференцию по науке и технологиям РОССИЯ-КОРЕЯ-СНГ, которая пройдет с 26 по 28 августа 2021 г. в Москве.</p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="invite_wrapper_dates">
      <h3>Важные даты</h3>
      <ul>
        <li>Для участия в конференции необходимо пройти регистрацию на сайте до <span style="color: #990000; font-weight: bold; white-space: nowrap;">31 июля 2021 г.</span></li>
      </ul>
      <h3>Информационные письма и программа</h3>
      <ul>
        <li><%= link_to "Информационное письмо №1 (Рус.)", '/docs/2021_inform1_v1.2.pdf', target: "_blank" %></li>
      </ul>
    </div>
    <div class="invite_wrapper_dates">
      <h3>Контакты оргкомитета</h3>
      <p><b>ВАЖНО!</b> Просьба указывать в теме письма «АНТОК-2021».</p>
      <p>Email: <a href="mailto:AKSTSRussia@gmail.com">AKSTSRussia@gmail.com</a></p>
      <div class="respect">
        С уважением,<br/>
        Оргкомитет АНТОК
      </div>
    </div>
  </div>
</div>
