<div class="row frontpage">
  <div class="col-md-6">
    <div class="home_img">
      <%= image_tag "home_img3.jpg", class: "img-responsive" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="invite_wrapper">
      <% if user_signed_in? %>                   
        <% if current_user.has_role? :admin %>
          <p><%= link_to "Смотреть все заявки", applics_path, class: "btn btn-lg btn-primary"%></p>
        <% else %>
          <p><%= link_to t(:step1_view_btn), edit_user_registration_path, class: "btn btn-default btn-lg"%></p>
          <% if current_user.applic %>
            <p><%= link_to t(:step2_view_btn), current_user.applic, class: "btn btn-default btn-lg"%></p>
          <% else %>
            <p><%= link_to t(:step2_apply_btn), (new_applic_path + '#new_applic'), class: "btn btn-lg btn-primary"%></p>
          <% end %>
        <% end %>
      <% else %>
        <div class="invite_to_conf">
          <h4><%= t :home_conf_description %></h4>
          <p><%= link_to t(:sign_up), (new_user_registration_path + '#new_registration'), class: "btn btn-primary btn-lg"%></p>
          <p><%= t(:or) %></p>
          <p><%= link_to t(:home_link_log_in), new_user_session_path, class: "btn btn-default btn-lg"%></p>
        </div>
      <% end %>
      <div class="attach">
        <div><%= link_to "Информационное письмо (Рус.)", '/docs/Inform1_STconference2.pdf' %></div>
        <div><%= link_to "Informational Letter (Eng.)", '/docs/Inform1_STconference_ENG2.pdf' %></div>
      </div> 
    </div> 
  </div>
</div>