<% provide(:title, t(:step3_title)) %>
<h1 id="new_applic">Ред. <%= t(:step3_title) %></h1>
<div class="alert alert-info">
  <b>Шаг 3.</b> <%= t(:abstracts) %>
</div>
<div id="form_anchor" class="row">
  <div class="col-md-6 applic-form">
    <%= simple_form_for(@af) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div>
        <%= f.label :file1 %>
        <%= f.file_field :file1 %>
      </div>
      <br/>
      <div>
        <%= f.label :file2 %>
        <%= f.file_field :file2 %>
      </div>
      <br/>
      <%= f.submit t(:save), class: "btn btn-lg btn-primary", id: "Save" %>
      <%= link_to t(:cancel), root_path, class: "btn btn-lg btn-default" %>
    <% end %>
  </div>
</div>
