<h1 id="h1_all_applics">Сертификаты участников AKSTS-2020</h1>
<br/>
<p style="font-weight: bold;">Чтобы сохранить сертификат откройте его по ссылке "просмотреть сертификат", нажмите кнопку печать и выберите опцию "сохранить PDF"</p>
<p><%= link_to 'Пример настроек сохранения сертификата', 'sertSave.png', target: "_blank" %></p>
<p>Если у вас проблемы с сохранением сертификата или требуется английская его версия, напишите на емайл info@codingbootcamp.ru письмо с темой "Сертификат конференции АНТОК-2020" в письме укажите ваше ФИО и какой требуется сертификат английский или русский. При заказе английского сертификата указывайте ваше имя и фамилию на английском.</p>
<br/>

<table class="table table-striped">
  <tr>
    <th>№</th>
    <th>ФИО</th>
    <th>Тип участия</th>
    <th/>
    <th/>
  </tr>
  <% @applics.each_with_index do |applic, index| %>
  <tr>
    <td><%= index + 1 %></td>
    <td><%= applic.fio %></td>
    <td><%= applic.participation_type == "participance_no_report" ? 'Очное без доклада' : applic.participation_type %></td>
    <td><%= link_to 'просмотреть сертификат', '/certificates/' + applic.id.to_s %></td>
    <!-- <td><%= link_to 'in english', '/certificates/' + applic.id.to_s + '/edit' %></td> -->
  </tr>
  <% end %>
</table>
