<div class="row">
  <div class="span8 offset2 applic-form">
    <%= form_for(@applic) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <h3><%= t(:personal_info) %></h3>
      <%= f.label :fio %><%= f.text_field :fio %>
      <%= f.label :email %><%= f.text_field :email %>
      <%= f.label :phones %><%= f.text_field :phones %>   
      <h3><%= t(:education) %></h3>    
      <%= f.label :uch_stepen %><%= f.text_field :uch_stepen %>
      <h3><%= t(:work) %></h3>      
      <%= f.label :work_company %><%= f.text_field :work_company %>
      <%= f.label :work_position %><%= f.text_field :work_position %>
      <% if params[:locale]!='en' %>
        <h3><%= t(:additional_info) %></h3>
        <%= f.label :antok_city %><%= f.select :antok_city, 
          options_for_select([[t(:choose_value),""], [t(:moscow),"Москва"], [t(:voronezh), "Воронеж"],
            [t(:ekaterinburg), "Екатеринбург"], [t(:novosibirsk),"Новосибирск"], [t(:krasnoyarsk),"Красноярск"],
            [t(:far_east),"Дальний Восток"]], :selected=> @applic.antok_city) %>
      <% end %>
      <h3><%= t(:applicaion_info) %></h3>
      <%= f.label :science_interests %><%= f.text_area :science_interests, rows: 5 %>
      <%= f.label :conf_topic %><%= f.text_field :conf_topic %>
      <%= f.label :conf_section %><%= f.select :conf_section, 
          options_for_select([[t(:choose_value),""],[t(:physics_maths),"Физика, математика"], [t(:it_nanothechnologies), "Информационные (IT) и нанотехнологии"], [t(:power_electrical_engineering),"Энергетика, электротехника, машиностроение, механика"], [t(:chemistry_new_materials), "Химия, новые материалы и технологии их обработки"], [t(:biotechnology_biology), "Биотехнологии, биология, технологии живых систем, океанография"], [t(:geology_natural_resources), "Геология, природные ресурсы"], [t(:social_sciences), "Общественные науки"]], :selected=> @applic.conf_section) %>
      <%= f.label :conf_coauthors %><%= f.text_field :conf_coauthors %>
      <%= f.label :participation_type %><%= f.select :participation_type, 
          options_for_select([[t(:choose_value),""], [t(:participance), "Очное"], [t(:publications_only), "Заочное"]], :selected=> @applic.participation_type) %>
       <div class="alert alert-info">
         <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= t(:step2_warning) %>
       </div>
      <%= f.submit t(:save), class: "btn btn-large btn-primary", id: "Save" %>
      <%= link_to t(:cancel), root_path, class: "btn btn-large btn-secondary" %>
    <% end %>
  </div>
</div>
<script type="text/javascript">
 $(document).ready(function(){
   $('#applic_birth_date').datepicker({format: 'yyyy-mm-dd'});
})
</script>