<% provide(:title, t(:edit_your_application)) %>
<h1><%= t(:edit_your_application) %></h1>
<div id="form_anchor" class="row">
  <div class="col-md-6 applic-form">
    <%= simple_form_for(@applic) do |f| %>
      <%= render 'form_fields', f: f %>
       <div class="alert alert-info">
           <%= t(:step2_warning) %>
       </div>
      <%= f.submit t(:save), class: "btn btn-lg btn-primary", id: "Save" %>
      <%= link_to t(:cancel), root_path, class: "btn btn-lg btn-default" %>
    <% end %>
  </div>
</div>