<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID заявки</Data></Cell>
        <Cell><Data ss:Type="String">Дата создания заявки</Data></Cell>
        <Cell><Data ss:Type="String">Дата изменения заявки</Data></Cell>
        <Cell><Data ss:Type="String">Член АНТОК</Data></Cell>
        <Cell><Data ss:Type="String">ID АНТОК</Data></Cell>
        <Cell><Data ss:Type="String">ФИО</Data></Cell>
        <Cell><Data ss:Type="String">Фамилия и имя на английском</Data></Cell>
        <Cell><Data ss:Type="String">Год рождения</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">Мобильный телефон</Data></Cell>
        <Cell><Data ss:Type="String">Рабочий телефон</Data></Cell>
        <Cell><Data ss:Type="String">Домашний телефон</Data></Cell>
        <Cell><Data ss:Type="String">Ученое звание</Data></Cell>
        <Cell><Data ss:Type="String">Ученая степень</Data></Cell>
        <Cell><Data ss:Type="String">Компания</Data></Cell>
        <Cell><Data ss:Type="String">Страна</Data></Cell>
        <Cell><Data ss:Type="String">Город</Data></Cell>
        <Cell><Data ss:Type="String">Должность</Data></Cell>
        <Cell><Data ss:Type="String">Ближайший АНТОК</Data></Cell>
        <Cell><Data ss:Type="String">Область научных интересов</Data></Cell>
        <Cell><Data ss:Type="String">Тема доклада</Data></Cell>
        <Cell><Data ss:Type="String">Направление</Data></Cell>
        <Cell><Data ss:Type="String">Соавторы</Data></Cell>
        <Cell><Data ss:Type="String">Тип участия</Data></Cell>
        <Cell><Data ss:Type="String">Нужна ли гостиница</Data></Cell>
        <Cell><Data ss:Type="String">Размер футболки</Data></Cell>
        <Cell><Data ss:Type="String">Отправлен доклад</Data></Cell>
        <Cell><Data ss:Type="String">ID доклада</Data></Cell>
        <Cell><Data ss:Type="String">Дата изменения доклада</Data></Cell>
      </Row>
    <% @applics.each do |applic| %>
      <Row>
        <Cell><Data ss:Type="String"><%= applic.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= applic.created_at.strftime("%d.%m.%Y") %></Data></Cell>
        <Cell><Data ss:Type="String"><%= applic.updated_at.strftime("%d.%m.%Y") %></Data></Cell>
        <Cell><Data ss:Type="String"><%= applic.user.is_antok_member ? "Да" : "Нет" %></Data></Cell>
        <Cell><Data ss:Type="String"><%= applic.user.antok_id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= applic.fio %></Data></Cell>
        <Cell><Data ss:Type="String"><%= applic.fio_eng %></Data></Cell>
        <Cell><Data ss:Type="String"><%= applic.birth_year %></Data></Cell>
        <Cell><Data ss:Type="String"><%= applic.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= applic.phones %></Data></Cell>
        <Cell><Data ss:Type="String"><%= applic.phone_work %></Data></Cell>
        <Cell><Data ss:Type="String"><%= applic.phone_home %></Data></Cell>
        <Cell><Data ss:Type="String"><%= applic.uch_zvanie %></Data></Cell>
        <Cell><Data ss:Type="String"><%= applic.uch_stepen %></Data></Cell>
        <Cell><Data ss:Type="String"><%= applic.work_company %></Data></Cell>
        <Cell><Data ss:Type="String"><%= applic.work_country %></Data></Cell>
        <Cell><Data ss:Type="String"><%= applic.work_city %></Data></Cell>
        <Cell><Data ss:Type="String"><%= applic.work_position %></Data></Cell>
        <Cell><Data ss:Type="String"><%= applic.antok_city %></Data></Cell>
        <Cell><Data ss:Type="String"><%= applic.science_interests %></Data></Cell>
        <Cell><Data ss:Type="String"><%= applic.conf_topic %></Data></Cell>
        <Cell><Data ss:Type="String"><%= applic.conf_section %></Data></Cell>
        <Cell><Data ss:Type="String"><%= applic.conf_coauthors %></Data></Cell>
        <Cell><Data ss:Type="String"><%= applic.participation_type %></Data></Cell>
        <Cell><Data ss:Type="String"><%= applic.need_hotel %></Data></Cell>
        <Cell><Data ss:Type="String"><%= applic.snils %></Data></Cell>
        <Cell><Data ss:Type="String"><%= applic.applic_file ? "Да" : "Нет" %></Data></Cell>
        <Cell><Data ss:Type="String"><%= applic.applic_file ? applic.applic_file.id : "" %></Data></Cell>
        <Cell><Data ss:Type="String"><%= applic.applic_file ? applic.applic_file.updated_at.strftime("%d.%m.%Y") : "" %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
 