<% provide(:title, t(:step2_title)) %>
<h1 id="new_applic"><%= t(:step2_title) %></h1>
<div class="alert alert-info">
  <%= t(:step2_info) %>
</div>
<div id="form_anchor" class="row">
  <div class="col-md-6 applic-form">
  	<!-- ADD FORM ANCHOR #form_anchor -->
    <%= simple_form_for(@applic, url: (applics_path + '#form_anchor')) do |f| %>
      <%= render 'form_fields', f: f %>
      <div class="alert alert-info">
        <%= t(:step2_warning) %>
      </div>
      <%= f.submit t(:save), class: "btn btn-lg btn-primary", id: "Save" %>
      <%= link_to t(:cancel), root_path, class: "btn btn-lg btn-default" %>
    <% end %>
  </div>
</div>