<% provide(:title, t(:your_application_details)) %>
<h1 id="h1_your_application_details"><%= t(:your_application_details)%></h1>
<div class="row">
  <div class="span8 offset2 applic-form">
    <%= link_to t(:home_link), root_path, class: "btn btn-large btn-secondary", id: "btn-home" %>
    <%= form_for(@applic) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <h3><%= t(:personal_info) %></h3>
      <%= f.label :fio %><%= f.text_field :fio, disabled: true  %>
      <%= f.label :email %><%= f.text_field :email, disabled: true  %>
      <%= f.label :phones %><%= f.text_field :phones, disabled: true  %>   
      <h3><%= t(:education) %></h3>   
      <%= f.label :uch_stepen %><%= f.text_field :uch_stepen, disabled: true  %>
      <h3><%= t(:work) %></h3>
      <%= f.label :work_company %><%= f.text_field :work_company, disabled: true  %>      
      <%= f.label :work_position %><%= f.text_field :work_position, disabled: true  %>
      <% if params[:locale]!='en' %>
        <h3><%= t(:additional_info) %></h3>
        <%= f.label :antok_city %><%= f.text_field :antok_city, disabled: true  %>
      <% end %>
      <h3><%= t(:applicaion_info) %></h3>
      <%= f.label :science_interests %><%= f.text_area :science_interests, rows: 5, disabled: true %>
      <%= f.label :conf_topic %><%= f.text_field :conf_topic, disabled: true  %>
      <!-- <%= f.label :conf_section %><%= f.text_field :conf_section, disabled: true  %> -->
      <%= f.label :conf_section %><%= f.select :conf_section, 
          options_for_select([[t(:choose_value),""],[t(:physics_maths),"Физика, математика"], [t(:it_nanothechnologies), "Информационные (IT) и нанотехнологии"], [t(:power_electrical_engineering),"Энергетика, электротехника, машиностроение, механика"], [t(:chemistry_new_materials), "Химия, новые материалы и технологии их обработки"], [t(:biotechnology_biology), "Биотехнологии, биология, технологии живых систем, океанография"], [t(:geology_natural_resources), "Геология, природные ресурсы"], [t(:social_sciences), "Общественные науки"]], :selected=> @applic.conf_section), {:size=>30}, {:disabled => true} %>
      <%= f.label :conf_coauthors %><%= f.text_field :conf_coauthors, disabled: true  %>
      <%= f.label :participation_type %>
      <%= f.select :participation_type, 
          options_for_select([[t(:choose_value),""], [t(:participance), "Очное"], [t(:publications_only), "Заочное"]], :selected=> @applic.participation_type), {}, {:disabled => true} %>
      <!-- <%= f.text_field :participation_type, disabled: true  %> -->
    <% end %>    
    <%= link_to t(:home_link), root_path, class: "btn btn-large btn-secondary" %>
  </div>
</div>