<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Конференция АНТОК в Екатеринбурге, июль 2014" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Конференция АНТОК в Екатеринбурге, июль 2014" %>">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body> 
    <%# application layout styled for Bootstrap 2.3 %>
    <main role="main">
      <div class="container">          
      <div class="masthead">
        <h3 class="muted">Конференция АНТОК в Екатеринбурге, июль 2014</h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li><%= link_to 'Главная', root_path %></li>
                <li><a href="/about">О Конференции</a></li>
                <li><a href="/programme">Программа</a></li>
                <li><a href="/hotel">Размещение</a></li>
                <li><a href="/sponsors">Спонсоры</a></li>
                <% if user_signed_in? %>
                <li><%= link_to 'Выход', destroy_user_session_path, :method=>'delete' %></li>
                <% else %>
                <li><%= link_to 'Вход', new_user_session_path %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>

      <%= render 'layouts/messages' %>
      <%= yield %> 


      <div class="footer">
        <p>&copy; <a href="http://www.aksts.ru">www.aksts.ru</a> 2014</p>
      </div>
      </div>
    </main>
    <script type='text/javascript'>
    $(document).ready(function() {
         $('.carousel').carousel({
             interval: 5000
         })
    });    
    </script>
  </body>
</html>
