<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= content_for?(:title) ? yield(:title) : t(:home_conf_antok) %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Личный кабинет члена АНТОК" %>">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body> 
    <main role="main">
      <div class="container">
      <%= render 'layouts/nav2017' %>
      <%= render 'layouts/messages' %>
      <div class="row banners">
        <div class="hidden-md hidden-lg banner">
          <%= image_tag "banner_aksts_kofst.jpg", class: "img-responsive" %>
        </div>
        <div class="col-md-offset-1 col-md-2 hidden-xs hidden-sm banner">
          <%= image_tag "banner_aksts_a.png", class: "img-responsive" %>
        </div>
        <div class="col-md-2 hidden-xs hidden-sm banner">
          <%= image_tag "banner_kofst_a.gif", class: "img-responsive" %>
        </div>

        <div class="col-md-2 banner">
          <%= image_tag "banner_ook_a.jpg", class: "img-responsive" %>
        </div>

        <div class="hidden-md hidden-lg banner">
          <%= image_tag "banner_kahak_tinbo.jpg", class: "img-responsive" %>
        </div>
        <div class="col-md-2 hidden-xs hidden-sm banner">
          <%= image_tag "banner_kahak_a.png", class: "img-responsive" %>
        </div>
        <div class="col-md-2 hidden-xs hidden-sm banner">
          <%= image_tag "banner_tinbo_a.png", class: "img-responsive" %>
        </div>
      </div>
      <h1 class="home_conf_title"><%= t :home_conf_antok %></h1>
      <h2 class="home_conf_subtitle"><%= t :home_conf_moto %></h2>
      <h2 class="home_conf_subtitle">26 - 28 августа, Москва</h2>
      <%= yield %> 
      <footer class="footer">
        <hr/>
        <div class="row">
          <div class="col-md-4 col-md-offset-2">&copy; <a href="http://www.aksts.ru">www.aksts.ru</a> 2012 - 2018</div>
          <div class="col-md-4">
            <% if params[:locale]=='en' %>
              Site made by <a href="http://www.busation.com">Michael Klishevich</a>
            <% else %>
              Created with love by <a href="https://www.facebook.com/klishevich">Michael Klishevich</a>
            <% end %>
          </div>
        </div>
      </footer>       
      </div>
    </main>
  </body>
</html>
