<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= content_for?(:title) ? yield(:title) : t(:home_conf_antok) %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Личный кабинет члена АНТОК" %>">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body> 
    <main role="main">
      <div class="container">
      <%= render 'layouts/nav' %>
      <%= render 'layouts/messages' %>
      <div class="row banners">
        <div class="col-md-2 hidden-xs hidden-sm banner">
          <a href="http://www.aksts.ru/" target="_blank">
            <%= image_tag "banner_aksts2_a.jpg", class: "img-responsive" %>
          </a>
        </div>
        <div class="col-md-2 hidden-xs hidden-sm banner">
          <a href="http://www.kofst.or.kr/kofst_us/index.html" target="_blank">
            <%= image_tag "banner_kofst2_a.jpg", class: "img-responsive" %>
          </a>
        </div>
        <div class="col-md-2 hidden-xs hidden-sm banner">
          <a href="https://www.ook-media.ru/" target="_blank">
            <%= image_tag "banner_ook_a.jpg", class: "img-responsive" %>
          </a>
        </div>
        <div class="col-md-2 hidden-xs hidden-sm banner">
          <a href="http://www.korustec.or.kr/en/" target="_blank">
            <%= image_tag "banner_korustec_a.jpg", class: "img-responsive" %>
          </a>
        </div>
        <div class="col-md-1 hidden-xs hidden-sm banner">
          <a href="https://vk.com/mdkm_rf" target="_blank">
            <%= image_tag "banner_mdkm_a1.png", class: "img-responsive" %>
          </a>
        </div>
        <div class="col-md-1 hidden-xs hidden-sm banner">
          <a href="http://gazeta-rk.ru/" target="_blank">
            <%= image_tag "banner_rk_a.jpg", class: "img-responsive" %>
          </a>
        </div>
        <div class="col-md-1 hidden-xs hidden-sm banner">
          <a href="http://www.ntokaxak.kz/" target="_blank">
            <%= image_tag "banner_kahak_a1.png", class: "img-responsive" %>
          </a>
        </div>
        <div class="col-md-1 hidden-xs hidden-sm banner">
          <%= image_tag "banner_tinbo_a1.png", class: "img-responsive" %>
        </div>

        <div class="hidden-md hidden-lg banner">
          <a href="http://www.aksts.ru/" target="_blank">
            <%= image_tag "banner_aksts2_b.jpg", class: "img-responsive" %>
          </a>
        </div>
        <div class="hidden-md hidden-lg banner">
          <a href="http://www.kofst.or.kr/kofst_us/index.html" target="_blank">
            <%= image_tag "banner_kofst2_b.jpg", class: "img-responsive" %>
          </a>
        </div>
        <div class="hidden-md hidden-lg banner">
          <a href="https://www.ook-media.ru/" target="_blank">
            <%= image_tag "banner_ook_a.jpg", class: "img-responsive" %>
          </a>
        </div>
        <div class="hidden-md hidden-lg banner">
          <a href="http://www.korustec.or.kr/en/" target="_blank">
            <%= image_tag "banner_korustec_b.jpg", class: "img-responsive" %>
          </a>
        </div>
        <div class="hidden-md hidden-lg banner">
          <a href="https://vk.com/mdkm_rf" target="_blank">
            <%= image_tag "banner_mdkm_b.png", class: "img-responsive" %>
          </a>
        </div>
        <div class="hidden-md hidden-lg banner">
          <a href="http://gazeta-rk.ru/" target="_blank">
            <%= image_tag "banner_rk_b.jpg", class: "img-responsive" %>
          </a>
        </div>
        <div class="hidden-md hidden-lg banner">
          <a href="http://www.ntokaxak.kz/" target="_blank">
            <%= image_tag "banner_kahak_tinbo.jpg", class: "img-responsive" %>
          </a>
        </div>
      </div>
      <%= yield %> 
      <footer class="footer">
        <hr/>
        <div class="row">
          <div class="col-md-4 col-md-offset-2">&copy; <a href="http://www.aksts.ru">www.aksts.ru</a> 2012 - 2018</div>
          <div class="col-md-4">
            <% if params[:locale]=='en' %>
              Site made by <a href="http://www.busation.com">Michael Klishevich</a>
            <% else %>
              Created with love by <a href="https://www.facebook.com/klishevich">Michael Klishevich</a>
            <% end %>
          </div>
        </div>
      </footer>       
      </div>
    </main>
  </body>
</html>
